@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: #F9FAFB;
}

/* utility classes */
.cap {
    text-transform: capitalize;
}

.center {
    text-align: center;
}

.nocenter {
    text-align: left;
}

img {
    object-fit: cover;
}

.card-transition {
    transition: transform 500ms linear 0s;
}

.card-transition:hover {
    transform: translateY(-4px);
    transition: transform 500ms linear 0s;
}

.card-transition .icon-transition {
    transition: scale 500ms linear 0s;
}

.card-transition:hover .icon-transition {
    scale: 1.1;
    transition: scale 500ms linear 0s;
}
