.input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-wrapper label {
    font-size: 20px;
    font-weight: bold;
}

.input-wrapper input{
    padding: 8px 20px;
    margin: 4px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    font-size: 14px;
} 