.component-title {
    font-size: 3.5rem;
    text-align: center;
    color: #800000;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 2.5em;
}

.list-item {
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.thumbnail {
    width: 100%;
    height: 180px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.description {
    padding: .8rem;
    text-align: center;
}

.description h3 {
    font-size: 2rem;
    margin-bottom: 0.3rem;
    color: #333;
}

.description .meta {
    font-size: 1.6rem;
    color: #777;
    margin-bottom: 1rem;
}

.description .meta span {
    font-weight: bold;
}

.list-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.list-item a {
    color: inherit;
    text-decoration: none;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: flex;
    color: orange;
    background:
        linear-gradient(currentColor 0 0) right /51% 100%,
        linear-gradient(currentColor 0 0) bottom /100% 51%;
    background-repeat: no-repeat;
    animation: l16-0 2s infinite linear .25s;
}

.loader::before {
    content: "";
    width: 50%;
    height: 50%;
    background: currentColor;
    animation: l16-1 .5s infinite linear;
}

@keyframes l16-0 {

    0%,
    12.49% {
        transform: rotate(0deg)
    }

    12.5%,
    37.49% {
        transform: rotate(90deg)
    }

    37.5%,
    62.49% {
        transform: rotate(180deg)
    }

    62.5%,
    87.49% {
        transform: rotate(270deg)
    }

    87.5%,
    100% {
        transform: rotate(360deg)
    }
}

@keyframes l16-1 {
    0% {
        transform: perspective(80px) rotate3d(-1, -1, 0, 0)
    }

    80%,
    100% {
        transform: perspective(80px) rotate3d(-1, -1, 0, -180deg)
    }
}