/* hearder */
header {
    height: 80px;
    padding: 0px 24px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    /* semi-transparent background */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(100%);
    /* Safari support */
    border-bottom: 1px solid #d9d9d9;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1000;
}

header .mobile-nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.logo-text {
    font-size: 2rem;
    font-weight: 800;
    color: black;
}

.logo span {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    background-color: black;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

/* desktop nav */
header .disktop-nav {
    display: none;
    height: 80px;
    justify-content: space-between;
    align-items: center;

}

.disktop-nav nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    font-size: 20px;
    padding: 8px 0;
    text-decoration: none;
    color: #4B5769;
    padding: 8px 20px;
    border-radius: 10px;
}

nav ul li a:hover {
    color: #000;
    background-color: #EEEFF1;
}

nav ul li a.active {
    color: #000;
    background-color: #EEEFF1;
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 15px;
    }

    header .mobile-nav {
        display: none;
    }

    header .disktop-nav {
        display: flex;
    }
}